
body  {
    background-color: #1A1A1D;
    background-repeat: no-repeat;
    background-attachment: fixed;
    zoom: normal;
    
  }
  /* circle div for photo */
.circle{
  border-radius: 50%;
  margin-left: 42.2%;
  height: 300px;
  width: 300px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.circle_style{
  border-radius: 50%;
  margin-left: 10%;
  height: 150px;
  width: 150x;
  display: inline-block;
  position: relative;
  
  
}
.rotate_style {
  animation: rotation 8s infinite linear;
  animation-delay: 1s;
}
/* rotation animation with css for photo */
.rotate {
  animation: rotation 60s infinite linear;
  animation-delay: 15s;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* original 3 box image container (column + row) OLD */
.row {
    display: flex;
    justify-content: center;
    margin: auto;
    color: #C3073F;
    
    
  }
.row_style {
    display: flex;
    justify-content: center;
    margin-left: -2.5%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    
  }
  .column {
    width: 450px;
    flex: 33.33%;
    padding: 5px;
    justify-content: center;
    margin: auto;
  }
  .column_style{
    padding: 20px;
    margin-left: 2%;
  }

  /* auto resize for responsiveness */
  @media screen and (max-width: 500px) {
    .column {
      justify-content: center;
    }
  }
  /* top: my name with span for subtitle */
  .h1_class {
      text-align: center;
      color: white;
      padding-top: 150px;
      padding-bottom: 40px;
      font-size: 36px;
      font-stretch: wider;
      background-color: #6F2232;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 3px;
  }
  .h1_class span{
    text-align: center;
      color: white;
      padding-top: 20px;
      padding-bottom: 40px;
      font-stretch: wider;
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
  }
  /*css for social icon centering and padding */
  .center_icons{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 25px;
  }
  /* style for social icon bar on pages other than home/index (in footer) */
  .center_icons_footer{
    padding-top: 0px;
    text-align: center;
    padding-bottom: 50px;
  }
  /*unused */
  .h2_class {
    text-align: center;
    color: white;
    background-color: #4E4E50;
    margin: 320px;
    padding: 20px;
}
.h2_right{
  margin-left: 60%;
}
.h2_right span{
  color: #fff;
  
  padding: 5px;
  letter-spacing: 2px;
}
.h2_right_wedding{
  margin-left: .5%;
  background-color: #6F2232;
  color: white;
  margin-right: 5%;
  padding: 5px;
  border-radius: 5px;
  letter-spacing: 2px;
}
.h2_right_wedding span{
  color: #6F2232;
}
.h2_right_hist{
  margin-left: .5%;
  background-color: #6F2232;
  margin-right: 5%;
  padding: 5px;
  border-radius: 5px;
  color: white;
  letter-spacing: 2px;
  
}
.h2_right_hist span{
  color: #6F2232;
}
.h2_left{
  margin-left: 2%;
}
.h2_left span{
  color: white;
  letter-spacing: 2px;
}
.h2_left_more{
  margin-left: 4%;
}
.h2_left_more span{
 
  letter-spacing: 2px;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.h2_HRM{
  margin-left: 7%;
  background-color: #4E4E50;
  padding: 5px;
  width: 91.5%;
  color: #1A1A1D;
  border-radius: 5px;
  letter-spacing: 2px;
}
.h2_HRM span{
  color: #4E4E50;
}
.h2_CHFA_left{
  margin-left: 5%;
  background-color: #4E4E50;
  padding: 5px;
  width: 93.5%;
  color: #1A1A1D;
  border-radius: 5px;
}
.h2_CHFA_left span{
  color: #4E4E50;
}
.textboxes_history{
  text-align: center;
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
}
.textboxes_history span{
  text-align: center;
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
  background-color: #6F2232;
  border-radius: 8px;
  padding: 10px;
}
.textboxes_history_2{
  text-align: center;
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
}
.textboxes_history_2 span{
  text-align: center;
  font-size: 20px;
  color: #1A1A1D;
  letter-spacing: 2px;
  background-color: #4E4E50 ;
  border-radius: 8px;
  padding: 10px;
}

/* 'data geo and spatial.. etc subtitle style */
  .h3_class {
    margin-top: 150px;
    text-align: center;
    color: #C3073F;
  }
  /* remove hyperlink text, inherit color from parent */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
    color: inherit;
  }
  
  a {
    text-decoration: none;
    position: relative;
    color: inherit;
  }
  
  a:after {
    border-radius: 1em;
    
    border-top: .1em solid #C3073F;
    content: "";
    position: absolute;
      right: 100%;
      bottom: .01em;
      left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1);
  }
  
  a:hover:after {
    right: 0;
  }
  
  /* footer style with span for copyright subtitle */
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 50px;
    background-color: #4E4E50;
    
    letter-spacing: 3px;
    width: 100%;
    border-radius: 8px;
  }
.footer span {
  color: white;
  text-align: center;
  font-size: 15px;
  padding-bottom: 5px; 
}

 





.text_block{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6F2232;
    width: 25%;
    margin-left: 15%;
  }
  h4{
   
    text-align: center;
    background-color: #6F2232;
    font-size: 15px;
    
    

  }
  h4 span{
    font-size: 50px;
    text-align: center;
  }
  
  
  header {
      z-index: 100;
      margin-left: 32.5%;
      padding: 20px 0;
      position: fixed;
      background-color: #4E4E50;
      border-radius: 8px;
      display: inline-block;
      
  }
  
  
  /* remove bullets from li */
  nav.header_nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  /* display header item list inline not stacked */
  .header_nav ul li {
      display: inline-block;
  }
  
  .header_nav li a, .header_nav li span {
    font-family: monospace;  
    display: block;
      padding: 0px 20px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 45px;
      
  }
  /* header item underline */
  li.active span {
    border-bottom: 3px solid #C3073F;
    border-radius: 0;
    color: #fff;
}

/*quote text */
h5{
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding-bottom: 100px;
  letter-spacing: 2px;

}
/* titles : Qualifications / proficiencies */
h6{
  text-align: center;
  font-size: 36px;
  color: #C3073F;
  font-family: 'Courier New', Courier, monospace;
  
  
  letter-spacing: 2px;
}
h6 span{
  background-color: #4E4E50;
  padding: 10px;
  color: #1A1A1D;
}
/* proficiencies / qualifications subtext */
.noblock_class{
  text-align: center;
  font-size: 24px;
  font-family: monospace;
  font-weight: 700;
  color: #C3073F;
}
.text_blocks {
  float: left;
  width: 50%;
  padding: 15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


.more_head_image {
  text-align: center;
  
}


/* blurb for home */
.blurb {
  border: 3px solid #6F2232;
  padding: 5px;
  width: 50%;
  background-color: #6F2232;
  margin-left: 25%;
  border-radius: 8px;
  margin-bottom: 100px;
  
}

.blurb2 {
  border: 3px solid #4E4E50;
  padding: 5px;
  width: 50%;
  background-color: #4E4E50;
  margin-left: 25%;
  border-radius: 8px;
  margin-bottom: 100px;
  
}


.float_blurb {
  float: right;
  padding: 5px;
  border-radius: 8px;
}
.float_blurb_l {
  float: left;
  padding: 5px;
  border-radius: 8px;
}

.clearfix::after {
  overflow: auto;
  content: "";
  clear: both;
  display: table;
  
}

.mid_blurb{
  background-color: #6F2232;
  height: 200px;
  float: right;
  display: block;
}

.active_1 { 
  background-color: #C3073F;
}
/* style guide */
.arial_style_1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  color: #fff;
}
.arial_style_2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
}

.mono_style_1{
  font-family: monospace;
  font-size: 24px;
  text-align: center;
  color: #C3073F;
}
.mono_style_2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  text-align: center;
  background-color: #4E4E50;
  color: #1A1A1D;
  font-weight: 600;
}
.mono_style_3{
  font-family: monospace;
  font-size: 45px;
  text-align: center;
  color: #fff;
}
.roman_1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
}
.roman_2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
}

.typography{
  align-content: center;
  margin-left: 25%;
}
.right_text{
  font-family: monospace;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
}
.subheading{
  margin-left: 41%;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: monospace;
  color: #fff;
}